/*@import "~materialize-css";*/
@import "~bootstrap/dist/css/bootstrap.min.css";

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul.toolbar-mar {
  margin-left: 200px;
}

@media only screen and (max-width: 768px) {
  ul.toolbar-mar {
    margin-left: 0;
  }
}
