<div class="container">
  <div class="row">

    <div class="col-md-4 m-3">
      <div class="card" style="width: 10%;">
        <img src="{{imageSrc}}" class="card-img-top" alt="Category Image">
        <div class="card-body">
          <h5 class="card-title">Категорії</h5>
          <a href="#" class="btn btn-primary">Редагувати</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 m-3">
      <div class="card" style="width: 10%;">
        <img src="{{imageSrc}}" class="card-img-top" alt="Category Image">
        <div class="card-body">
          <h5 class="card-title">Позиції</h5>
          <a href="#" class="btn btn-primary">Редагувати</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 m-3">
      <div class="card" style="width: 10%;">
        <img src="{{imageSrc}}" class="card-img-top" alt="Category Image">
        <div class="card-body">
          <h5 class="card-title">Замовлення</h5>
          <a href="#" class="btn btn-primary">Редагувати</a>
        </div>
      </div>
    </div>


  </div>
</div>


